[submodule "ember"]
	path = ember
	url = https://github.com/biaqat/ember-theme-zed.git
[submodule "yue"]
	path = yue
	url = https://github.com/biaqat/yue-theme-zed.git
	branch = v2
[submodule "panda"]
	path = panda
	url = https://github.com/biaqat/panda-theme-zed.git
[submodule "mariana"]
	path = mariana
	url = https://github.com/biaqat/mariana-theme-zed.git
[submodule "tomorrow"]
	path = tomorrow
	url = https://github.com/biaqat/tomorrow-theme-zed.git
[submodule "polar"]
	path = polar
	url = https://github.com/biaqat/polar-theme-zed.git
[submodule "aquarium"]
	path = aquarium
	url = https://github.com/biaqat/aquarium-theme-zed.git
[submodule "cyan"]
	path = cyan
	url = https://github.com/biaqat/cyan-light-theme-zed.git
[submodule "cyan-light"]
	path = cyan-light
	url = https://github.com/biaqat/cyan-light-theme-zed.git
[submodule "quiet-light"]
	path = quiet-light
	url = https://github.com/biaqat/quiet-light-theme-zed.git
