[submodule "ember"]
	path = ember
	url = https://github.com/biaqat/ember-theme-zed.git
[submodule "yue"]
	path = yue
	url = https://github.com/biaqat/yue-theme-zed.git
	branch = v2
[submodule "panda"]
	path = panda
	url = https://github.com/biaqat/panda-theme-zed.git
[submodule "mariana"]
	path = mariana
	url = https://github.com/biaqat/mariana-theme-zed.git
[submodule "tomorrow"]
	path = tomorrow
	url = https://github.com/biaqat/tomorrow-theme-zed.git
[submodule "polar"]
	path = polar
	url = https://github.com/biaqat/polar-theme-zed.git
[submodule "aquarium"]
	path = aquarium
	url = https://github.com/biaqat/aquarium-theme-zed.git
[submodule "cyan"]
	path = cyan
	url = https://github.com/biaqat/cyan-light-theme-zed.git
[submodule "cyan-light"]
	path = cyan-light
	url = https://github.com/biaqat/cyan-light-theme-zed.git
[submodule "quiet-light"]
	path = quiet-light
	url = https://github.com/biaqat/quiet-light-theme-zed.git
[submodule "gruber"]
	path = gruber
	url = https://github.com/biaqat/gruber-theme-zed.git
[submodule "aylin"]
	path = aylin
	url = https://github.com/biaqat/aylin-theme-zed.git
[submodule "lusch"]
	path = lusch
	url = https://github.com/biaqat/lusch-theme-zed.git
[submodule "flat"]
	path = flat
	url = https://github.com/biaqat/flat-theme-zed.git
[submodule "v0"]
	path = v0
	url = https://github.com/biaqat/v0-theme-zed.git
[submodule "tomorrow-min"]
	path = tomorrow-min
	url = https://github.com/biaqat/tomorrow-min-theme-zed.git
[submodule "tailwind"]
	path = tailwind
	url = https://github.com/biaqat/tailwind-theme-zed.git
[submodule "nordic"]
	path = nordic
	url = https://github.com/biaqat/nordic-theme-zed.git
[submodule "rasmus"]
	path = rasmus
	url = https://github.com/biaqat/rasmus-theme-zed.git
